name: QA

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main, develop]

jobs:
 # this checks the code quality very quickly
  detekt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Run Detekt
        run: ./gradlew detekt --no-daemon
  # here we test and build the app in the same github runner so that no extra runner is used and saves time in setting up the environment again during build
  test-and-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run Unit Tests
        run: ./gradlew testReleaseUnitTest --no-daemon

      - name: Build Release APK
        run: ./gradlew assembleRelease --no-daemon

      - name: Upload Test Report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-report
          path: '**/build/reports/tests/testReleaseUnitTest/'

      - name: Upload Release APK
        uses: actions/upload-artifact@v4
        if: success()
        with:
          name: release-apk
          path: '**/build/outputs/apk/release/*.apk'